<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Mercado de Ações
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark" padding>
  <ion-list>
    <ion-list-header>
      Ações disponíveis
    </ion-list-header>

    <ion-item *ngFor="let acao of acoes">
      <ion-label (click)="onSelectAcao(acao)">
        <div>
          <h2>{{ acao.nome }}</h2>
          <p>Valor: {{ acao.cotacao.valor | currency:"BRL" }}</p>
          <p>Variação: {{ acao.cotacao.variacao | number }}% 
            <span *ngIf="acao.cotacao.variacao >= 0; else variacaoNegativa">
              <ion-icon name="arrow-up"></ion-icon>
            </span>
            <ng-template #variacaoNegativa>
              <span><ion-icon name="arrow-down"></ion-icon></span>
            </ng-template>
          </p>
          <p>Cotações:</p>
          <p>Máx: {{ acao.cotacao.min | currency:"BRL" }}</p>
          <p>Mín: {{ acao.cotacao.max  | currency:"BRL" }}</p>
        </div>
      </ion-label>
      <ion-button slot="end" color="light" [routerLink]="['/ordem', acao.id, 'compra']" color="light" fill="clear" size="small" >
        <ion-icon name="add" slot="end"></ion-icon>
        Comprar
      </ion-button>

    </ion-item>
  </ion-list>
</ion-content>