<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Compra e Venda
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <ion-card>
    <ion-item color="medium">
      <ion-label>
        <div class="ion-text-end">
          <p>
            {{data | date: "dd/MM/yyyy"}}
            {{data | date: "HH:mm:ss"}}
          </p>
        </div>
      </ion-label>
    </ion-item>

    <ion-card-header>
      <ion-card-title>{{ acao.nome }} </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-col class="ion-float-left">
          <div>
            Cotação atual:
          </div>
        </ion-col>
        <ion-col class="ion-float-right">
          <div class="valores">
            {{ acao.cotacao.valor | currency:"BRL" }}
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-float-left">
          <div>
            Valor mínimo:
          </div>
        </ion-col>
        <ion-col class="ion-float-right">
          <div class="valores">
            {{ acao.cotacao.min | currency:"BRL" }}
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-float-left">
          <div>
            Valor máximo:
          </div>
        </ion-col>
        <ion-col class="ion-float-right">
          <div class="valores">
            {{ acao.cotacao.max | currency:"BRL" }}
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-float-left">
          <div>
            Qtd. de ações:
          </div>
        </ion-col>
        <ion-col class="ion-float-right">
          <div class="valores">
            {{ acaoUsuario.qtd }}
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-float-left">
          <div>
            Valor total:
          </div>
        </ion-col>
        <ion-col class="ion-float-right">
          <div class="valores">
            {{ acaoUsuario.total | currency:"BRL" }}
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-float-left">
          <div>
            Ordens abertas:
          </div>
        </ion-col>
        <ion-col class="ion-float-right">
          <div class="valores">
            {{ ordens.length }}
          </div>
        </ion-col>
      </ion-row>
    </ion-card-content>

    <ion-footer>
      <ion-row>
        <ion-col center text-center>
          <button [routerLink]="['/ordem', acao.id, 'compra']" >
            <ion-icon name="add-circle"></ion-icon>
            <div>comprar</div>
          </button>
        </ion-col>
        <ion-col center text-center>
          <button [routerLink]="['/ordem', acao.id, 'venda']" >
            <ion-icon name="remove-circle"></ion-icon>
            <div>vender</div>
          </button>
        </ion-col>
      </ion-row>
    </ion-footer>
  </ion-card>
</ion-content>