<ion-header>
  <ion-toolbar>
    <ion-title>Compra e Venda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <!--       <ion-avatar slot="start">
        <img src="../../assets/user.jpg">
      </ion-avatar> -->
      <ion-label>
        <div class="ion-text-end">
          <p>
            {{data | date: "dd/MM/yyyy"}}
            {{data | date: "HH:mm:ss"}}
          </p>
        </div>
      </ion-label>
    </ion-item>

    <ion-card-header>
      <ion-card-title>{{ acao.nome }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
    <ion-row>
        <ion-col class="ion-float-left">
          Cotação atual: {{ acao.cotacao.valor | currency:"BRL" }}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-float-left">
          <div>
            Mínimo: {{ acao.cotacao.min | currency:"BRL" }}
          </div>
        </ion-col>
        <ion-col class="ion-float-right">
          <div>
            Máximo: {{ acao.cotacao.max | currency:"BRL" }}
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
         <ion-col size="12" class="ion-float-left">
            Qtd. ações: {{ acaoUsuario.qtd }}
        </ion-col>
      </ion-row>
    <ion-row>
        <ion-col size="12" class="ion-float-left">
          Valor total: {{ acaoUsuario.total | currency:"BRL" }}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" class="ion-float-left">
          Ordens abertas: {{ ordens.length }}
        </ion-col>
      </ion-row>

    </ion-card-content>

    <ion-footer>
      <ion-row>
        <ion-col center text-center>
          <button >
            <ion-icon name="add-circle"></ion-icon>
            <div>comprar</div>
          </button>
        </ion-col>
        <ion-col center text-center>
          <button>
            <ion-icon name="remove-circle"></ion-icon>
            <div>vender</div>
          </button>
        </ion-col>
      </ion-row>
    </ion-footer>
  </ion-card>
</ion-content>