<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Meus Investimentos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark" padding>
  <ion-list>
    <ion-list-header>
      <ion-title size="large">Minhas Ações</ion-title>
    </ion-list-header>

    <ion-item *ngFor="let acao of acoes">
      <ion-label>
        <div>
          <h2>{{ acao.nome }}</h2>
          <p>Quantidade: {{ acao.qtd }}</p>
          <p>Valor: {{ acao.total | currency:"BRL" }}</p>
        </div>
      </ion-label>
      <ion-button slot="end" color="light" fill="clear" size="small" [routerLink]="['/ordem', acao.acaoId, 'venda']" >
        <ion-icon name="trending-up" slot="end"></ion-icon>
        Vender
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>