<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Ordem de {{ ordem.operacao }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark" class="ion-padding">
  <form padding [formGroup]="formulario" (ngSubmit)="onSubmit()" novalidate>
    <ion-list>
      <ion-list-header>
        <ion-title size="large">Ação: {{ acao.nome }}</ion-title>
      </ion-list-header>
      
      <ion-item [class.ion-invalid]="verificaValidTouched('qtd')">
        <ion-label position="floating">Quantidade</ion-label>
        <ion-input type="number" formControlName="qtd"></ion-input>
      </ion-item>

      <app-error-msg [control]="formulario.get('qtd')" label="Quantidade"></app-error-msg>

      <ion-item [class.ion-invalid]="verificaValidTouched('valor')">
        <ion-label position="floating">Valor(R$)</ion-label>
        <ion-input type="number" formControlName="valor"></ion-input>
      </ion-item>
      
      <app-error-msg [control]="formulario.get('valor')" label="Valor"></app-error-msg>

      <ion-item>
        <ion-buttons slot="start">
          <ion-button type="submit" fill="solid" size="small" color="dark">
                <ion-icon name="save"></ion-icon>
                <ion-ripple-effect type="bounded"></ion-ripple-effect>
                Gravar
          </ion-button>
          <ion-button color="medium" fill="solid" size="small" (click)="limpar()">
                <ion-ripple-effect type="unbounded"></ion-ripple-effect>
                <ion-icon slot="start" name="close"></ion-icon>
                Limpar
          </ion-button>
      </ion-buttons>      
      </ion-item>
    </ion-list>
</form>
</ion-content>